.list-container{
    
}
.profile-container img{
    
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.profile-container{
    display: flex;
    margin-left: 25px;
    /* border: 2px solid red; */
    
}
.profile-info{
    display: flex;
    background-color: lightgrey;
    /* padding: 25px; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 25px;
}
.weight{
    margin-right: 25px;

}
.weight h4{
    margin-bottom: -10px;
}
.height{
    margin-right: 25px;
}
.height h4{
    margin-bottom: -10px;
}
.age h4{
    margin-bottom: -10px;
}
.break-time{
    padding-top: 30px;
}
.btn-break-time{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.btn-break-time button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
}

.exercise-time{
    display: flex;
    justify-content:space-around;
    background-color: rgb(220, 242, 250);
    margin-right: 20px;
}
.break-time-info{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(220, 242, 250);
    margin-right: 20px;
}

.btn-complete{
    margin-top: 50px;
    background-color: blue;
    border: none;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    /* padding-top: 10px; */
};

.btn-complete p{
    color: white;
    font-weight: bold;
}