.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* gap: 10px; */
    

    

}

.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 80px;
}
.workouts{
    /* width: 70%; */
    background-color: lightsteelblue;
}
.list{
    position: sticky;
    margin-top: 0;
    height: 700px;
    background-color: salmon;
    /* border: 2px solid red; */
    /* width: 25%; */
}

@media screen and (min-width:200px) and (max-width:850px) {
    .container{
        grid-template-columns: 1fr;
    }
    .card{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:851px)  and (max-width:1400px){
    .container{
        grid-template-columns: 3fr 1fr;
    }
    .card{
        grid-template-columns: repeat(3,1fr);
    }
}