.body-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.items-container{
    border: 2px solid red;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgb(244, 255, 255);
}
.cartlist-container{
    border: 2px solid orange;
}